AdminApplication/src/wsdl/localhost_8080/MovieLibrarySoapWebApp/GenreServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.movielibrarysoapwebapp.sajit.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.movielibrarysoapwebapp.sajit.com/">

<xs:element name="genre" type="tns:genre"/>

<xs:element name="getGenre" type="tns:getGenre"/>

<xs:element name="getGenreResponse" type="tns:getGenreResponse"/>

<xs:complexType name="getGenre">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getGenreResponse">
<xs:sequence>
<xs:element name="return" type="tns:genre" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="genre">
<xs:sequence>
<xs:element name="genre" type="xs:string" minOccurs="0"/>
<xs:element name="genreId" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>