AdminApplication/src/wsdl/localhost_8080/MovieLibrarySoapWebApp/MovieServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.movielibrarysoapwebapp.sajit.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.movielibrarysoapwebapp.sajit.com/" name="MovieServiceService">
<wsp:Policy wsu:Id="MovieServicePortBinding_MTOM_Policy-MovieServicePortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://services.movielibrarysoapwebapp.sajit.com/" schemaLocation="http://localhost:8080/MovieLibrarySoapWebApp/MovieServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="CreateMovie">
<part name="parameters" element="tns:CreateMovie"/>
</message>
<message name="CreateMovieResponse">
<part name="parameters" element="tns:CreateMovieResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getMovies">
<part name="parameters" element="tns:getMovies"/>
</message>
<message name="getMoviesResponse">
<part name="parameters" element="tns:getMoviesResponse"/>
</message>
<portType name="MovieService">
<operation name="CreateMovie">
<input wsam:Action="http://services.movielibrarysoapwebapp.sajit.com/MovieService/CreateMovieRequest" message="tns:CreateMovie"/>
<output wsam:Action="http://services.movielibrarysoapwebapp.sajit.com/MovieService/CreateMovieResponse" message="tns:CreateMovieResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.movielibrarysoapwebapp.sajit.com/MovieService/CreateMovie/Fault/Exception"/>
</operation>
<operation name="getMovies">
<input wsam:Action="http://services.movielibrarysoapwebapp.sajit.com/MovieService/getMoviesRequest" message="tns:getMovies"/>
<output wsam:Action="http://services.movielibrarysoapwebapp.sajit.com/MovieService/getMoviesResponse" message="tns:getMoviesResponse"/>
</operation>
</portType>
<binding name="MovieServicePortBinding" type="tns:MovieService">
<wsp:PolicyReference URI="#MovieServicePortBinding_MTOM_Policy-MovieServicePortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CreateMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MovieServiceService">
<port name="MovieServicePort" binding="tns:MovieServicePortBinding">
<soap:address location="http://localhost:8080/MovieLibrarySoapWebApp/MovieServiceService"/>
</port>
</service>
</definitions>