RestServiceClient/src/wsdl/localhost_8080/MovieLibrarySoapWebApp/MovieServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.movielibrarysoapwebapp.sajit.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.movielibrarysoapwebapp.sajit.com/">

<xs:element name="CreateMovie" type="tns:CreateMovie"/>

<xs:element name="CreateMovieResponse" type="tns:CreateMovieResponse"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="genre" type="tns:genre"/>

<xs:element name="getMovieById" type="tns:getMovieById"/>

<xs:element name="getMovieByIdResponse" type="tns:getMovieByIdResponse"/>

<xs:element name="getMovies" type="tns:getMovies"/>

<xs:element name="getMoviesResponse" type="tns:getMoviesResponse"/>

<xs:element name="movies" type="tns:movies"/>

<xs:complexType name="getMovieById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMovieByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:movies" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="movies">
<xs:sequence>
<xs:element name="director" type="xs:string" minOccurs="0"/>
<xs:element name="genreId" type="tns:genre" minOccurs="0"/>
<xs:element name="length" type="xs:integer" minOccurs="0"/>
<xs:element name="moviesId" type="xs:decimal" minOccurs="0"/>
<xs:element name="producer" type="xs:string" minOccurs="0"/>
<xs:element name="releasedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="synopsys" type="xs:string" minOccurs="0"/>
<xs:element name="thumbnail" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="genre">
<xs:sequence>
<xs:element name="genre" type="xs:string" minOccurs="0"/>
<xs:element name="genreId" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMovies">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMoviesResponse">
<xs:sequence>
<xs:element name="return" type="tns:movies" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateMovie">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="duration" type="xs:int"/>
<xs:element name="genre" type="xs:int"/>
<xs:element name="director" type="xs:string" minOccurs="0"/>
<xs:element name="producer" type="xs:string" minOccurs="0"/>
<xs:element name="thumbnail" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="synopsys" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateMovieResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>