RestServiceClient/src/wsdl/movie-library-soap-webserver.herokuapp.com/GenreService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.movielibrarysoapwebapp.sajit.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GenreServiceService" targetNamespace="http://services.movielibrarysoapwebapp.sajit.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.movielibrarysoapwebapp.sajit.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.movielibrarysoapwebapp.sajit.com/">
  <xs:element name="deleteGenre" type="tns:deleteGenre"/>
  <xs:element name="deleteGenreResponse" type="tns:deleteGenreResponse"/>
  <xs:element name="genre" type="tns:genre"/>
  <xs:element name="getGenre" type="tns:getGenre"/>
  <xs:element name="getGenreResponse" type="tns:getGenreResponse"/>
  <xs:element name="setGenre" type="tns:setGenre"/>
  <xs:element name="setGenreResponse" type="tns:setGenreResponse"/>
  <xs:complexType name="setGenre">
    <xs:sequence>
      <xs:element minOccurs="0" name="genre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setGenreResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGenre">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getGenreResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:genre"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="genre" type="xs:string"/>
      <xs:element minOccurs="0" name="genreId" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGenre">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGenreResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="setGenre">
    <wsdl:part element="tns:setGenre" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGenreResponse">
    <wsdl:part element="tns:getGenreResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGenre">
    <wsdl:part element="tns:getGenre" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteGenre">
    <wsdl:part element="tns:deleteGenre" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteGenreResponse">
    <wsdl:part element="tns:deleteGenreResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setGenreResponse">
    <wsdl:part element="tns:setGenreResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GenreService">
    <wsdl:operation name="setGenre">
      <wsdl:input message="tns:setGenre" name="setGenre">
    </wsdl:input>
      <wsdl:output message="tns:setGenreResponse" name="setGenreResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGenre">
      <wsdl:input message="tns:getGenre" name="getGenre">
    </wsdl:input>
      <wsdl:output message="tns:getGenreResponse" name="getGenreResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGenre">
      <wsdl:input message="tns:deleteGenre" name="deleteGenre">
    </wsdl:input>
      <wsdl:output message="tns:deleteGenreResponse" name="deleteGenreResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GenreServiceServiceSoapBinding" type="tns:GenreService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setGenre">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setGenre">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setGenreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGenre">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getGenre">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGenreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteGenre">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteGenre">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteGenreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenreServiceService">
    <wsdl:port binding="tns:GenreServiceServiceSoapBinding" name="GenreServicePort">
      <soap:address location="http://movie-library-soap-webserver.herokuapp.com/GenreService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>