RestServiceClient/src/wsdl/movie-library-soap-webserver.herokuapp.com/ShowService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.movielibrarysoapwebapp.sajit.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ShowServiceService" targetNamespace="http://services.movielibrarysoapwebapp.sajit.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.movielibrarysoapwebapp.sajit.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.movielibrarysoapwebapp.sajit.com/">
  <xs:element name="CreateShows" type="tns:CreateShows"/>
  <xs:element name="CreateShowsResponse" type="tns:CreateShowsResponse"/>
  <xs:element name="EditShows" type="tns:EditShows"/>
  <xs:element name="EditShowsResponse" type="tns:EditShowsResponse"/>
  <xs:element name="deleteShowById" type="tns:deleteShowById"/>
  <xs:element name="deleteShowByIdResponse" type="tns:deleteShowByIdResponse"/>
  <xs:element name="genre" type="tns:genre"/>
  <xs:element name="getShows" type="tns:getShows"/>
  <xs:element name="getShowsById" type="tns:getShowsById"/>
  <xs:element name="getShowsByIdResponse" type="tns:getShowsByIdResponse"/>
  <xs:element name="getShowsResponse" type="tns:getShowsResponse"/>
  <xs:element name="shows" type="tns:shows"/>
  <xs:complexType name="EditShows">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element name="NoSeasons" type="xs:int"/>
      <xs:element name="genre" type="xs:int"/>
      <xs:element minOccurs="0" name="director" type="xs:string"/>
      <xs:element minOccurs="0" name="producer" type="xs:string"/>
      <xs:element minOccurs="0" name="thumbnail" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="synopsys" type="xs:string"/>
      <xs:element minOccurs="0" name="releasedDate" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EditShowsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateShows">
    <xs:sequence>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element name="NoSeasons" type="xs:int"/>
      <xs:element name="genre" type="xs:int"/>
      <xs:element minOccurs="0" name="director" type="xs:string"/>
      <xs:element minOccurs="0" name="producer" type="xs:string"/>
      <xs:element minOccurs="0" name="thumbnail" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="synopsys" type="xs:string"/>
      <xs:element minOccurs="0" name="releasedDate" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateShowsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteShowById">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteShowByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getShowsById">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getShowsByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:shows"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shows">
    <xs:sequence>
      <xs:element minOccurs="0" name="director" type="xs:string"/>
      <xs:element minOccurs="0" name="genreId" type="tns:genre"/>
      <xs:element minOccurs="0" name="noSeasons" type="xs:integer"/>
      <xs:element minOccurs="0" name="producer" type="xs:string"/>
      <xs:element minOccurs="0" name="releasedOn" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="showsId" type="xs:decimal"/>
      <xs:element minOccurs="0" name="synopsys" type="xs:string"/>
      <xs:element minOccurs="0" name="thumbnail" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="genre" type="xs:string"/>
      <xs:element minOccurs="0" name="genreId" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getShows">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getShowsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:shows"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="EditShows">
    <wsdl:part element="tns:EditShows" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateShows">
    <wsdl:part element="tns:CreateShows" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getShowsByIdResponse">
    <wsdl:part element="tns:getShowsByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getShows">
    <wsdl:part element="tns:getShows" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getShowsResponse">
    <wsdl:part element="tns:getShowsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteShowById">
    <wsdl:part element="tns:deleteShowById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateShowsResponse">
    <wsdl:part element="tns:CreateShowsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteShowByIdResponse">
    <wsdl:part element="tns:deleteShowByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getShowsById">
    <wsdl:part element="tns:getShowsById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EditShowsResponse">
    <wsdl:part element="tns:EditShowsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ShowService">
    <wsdl:operation name="EditShows">
      <wsdl:input message="tns:EditShows" name="EditShows">
    </wsdl:input>
      <wsdl:output message="tns:EditShowsResponse" name="EditShowsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateShows">
      <wsdl:input message="tns:CreateShows" name="CreateShows">
    </wsdl:input>
      <wsdl:output message="tns:CreateShowsResponse" name="CreateShowsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteShowById">
      <wsdl:input message="tns:deleteShowById" name="deleteShowById">
    </wsdl:input>
      <wsdl:output message="tns:deleteShowByIdResponse" name="deleteShowByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShowsById">
      <wsdl:input message="tns:getShowsById" name="getShowsById">
    </wsdl:input>
      <wsdl:output message="tns:getShowsByIdResponse" name="getShowsByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShows">
      <wsdl:input message="tns:getShows" name="getShows">
    </wsdl:input>
      <wsdl:output message="tns:getShowsResponse" name="getShowsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShowServiceServiceSoapBinding" type="tns:ShowService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EditShows">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="EditShows">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="EditShowsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateShows">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CreateShows">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateShowsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteShowById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteShowById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteShowByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShowsById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getShowsById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getShowsByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShows">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getShows">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getShowsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShowServiceService">
    <wsdl:port binding="tns:ShowServiceServiceSoapBinding" name="ShowServicePort">
      <soap:address location="http://movie-library-soap-webserver.herokuapp.com/ShowService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>